input[type=file]{
    display: none;
  }
  #contentpost{
    width: 100%;
    height:100%;
  }
  .navbar-nav {
    float: left;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    position: absolute;
    margin-left: 72%;
    font-size: 1.5rem;

}
.form-inline{
  float: left;
    margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 550px;

}
#friends-block{
  margin: 0 0 40px 0;
  text-align: center;
}
.ftitle{
  background: #044c59;
  padding: 5px 20px;
  width: 70%;
  height: 30px;
  border-radius: 15px;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;

}
a .ftitle{
  color: #fff;
}
.ftitle:hover {background-color: #0d95ad;}
a .ftitle:hover{

  color: #fff;
}
.ftitle:active {
  background-color: #0d95ad;
  box-shadow: 0 1px #666;
  transform: translateY(0.5px);
}
/* CHAT BLOCK START */
.ctitle{
  background: #044c59;
  padding: 5px 20px;
  width: 70%;
  height: 30px;
  border-radius: 15px;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;

}
.ctitle{
  color: #fff;
}
.ctitle:hover {background-color: #0d95ad;}
.ctitle:hover{

  color: #fff;
}
.ctitle:active {
  background-color: #0d95ad;
  box-shadow: 0 1px #666;
  transform: translateY(0.5px);
}

.card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border-radius: .25rem;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    font-size: 14px;
}
  .card-header  {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    font-size: 14px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

div.dropdown-menu a p{
  color: #ffffff;
  
}

.profiles_file_display {
  display: block !important;
}